#page-create-point {
    width: 90%;
    max-width: 1100px;
    /*Alinhamento pelo lado de fora*/
    margin: 0  auto;


}

#page-create-point header{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    /*alinhas ao x*/
    align-items: center;
}

#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;

    display:flex;
    align-items: center;
}
#page-create-point header a span {    
    margin-right: 16px;                              
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 22px;
}

form {
    background-color: white;
    /* Preenchimento */
    margin: 60px  auto;
    padding: 64px;
    border-radius: 8px;

    max-width: 730px;
}

form h1 {
    font-size: 36px;
}
form fieldset{
    margin-top:64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
form legend h2 {
    font-size: 24px;
}
form legend span{
    font-size: 14px;
    color: var(--title-color);
}

form .field{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group{
    display: flex;
}

form input, select {
    background-color: #f0f0f5;
    /*tirar borda*/
    border:0;
    /*ajeitar o preenchimento*/
    padding: 16px 24px;
    /*aumentar a font dentro*/
    border-radius: 8px;
    transition: 400ms;
}
form input:hover, select:hover {
    background-color: #e0e0e0;
    
    border-radius: 30px;
}

/*chorome e fire fox*/
form select {

    -webkit-appearance: none;
    -mox-appearence:none;
    appearance: none;

    transition: 400ms;
}
/*os labels */
form label {
    font-size: 14px;
    margin-bottom: 8px;
}
/*  diminuir o tamanho das caixa da input seguida de input */
form .field-group .field + .field {
    margin-left: 24px;
}

form button{
    width:  260px;
    height:  56px;

    background-color: var(--primary-color);
    color:white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 12px;
    margin-top: 40px;
    transition:  900ms;
}

form button:hover{
    background-color: #2fb86e;
    border-radius: 30px;
}

.items-grid {
    display: grid;
    /*definir quantas colunas*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px; /*propriedade do grid*/
}
.items-grid  li{
    list-style :none;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height:180px; 
    /*Preenchimento*/
    padding:  32px 24px 16px;
    transition:  400ms;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    cursor: pointer;

}

.items-grid  li:hover{
    background-color: #d5d5d5;
    border-radius: 25px;
    margin: 3px 5px;
}

.items-grid  li span {
    margin-top: 12px;
    font-weight: bold;
    flex:1;
    display:flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected{
    background-color: #e1faec;
    border: 2px solid #34cb79;
    border-radius: 20px;
    margin: 3px 5px;
}
.items-grid li.selected:hover{
    background-color: #d1f0e2;
    border-radius: 25px;
}

/* impedir a captura de eventos dos filhos de li */
.items-grid  li img,
.items-grid  li span {
    pointer-events: none;
}